@keyframes fire {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-fire {
  background: linear-gradient(-45deg, #330000, #660000, #cc3300, #ff6600);
  background-size: 400% 400%;
  animation: fire 8s ease infinite;
}
